body {
	padding-top: 70px;
}

.jumbotron {
	text-align: center;
	background-color: white;
}

.msec {
	font-size: 50%;
}

hidden {
	visibility: hidden;
}

.no-display{
	display: none;
}

#lap-row {
	margin-top: 50px;
}
#lap-col-1{
	text-align: right;
}

#lap-col-2 {
	text-align: center;
}

#lap-col-3 {
	text-align: left;
}

.red-text{
color: red;
}
#timer-numpad button {
background-color: #ffffff;
padding: 0 5% 0 5%;
}
#timerPlayPause-btn {
margin-top: 16px;
}
.btn-primary,
.btn-warning {
padding: 12px;
}